* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro',sans-serif;
}

.top {
  width: 100%;
  margin: auto;
  position: relative;

}
#sidebar{
  width: 100%;
  padding: 5px;
  float: left;
  background-color: #769FCD;
}

.judul a {
  font-size: 20px;
  font-weight: 700;
  float: left;
  font-family: 'Jost', sans-serif;
  color: #1B262C;
  padding: 0px 16px 0px 16px;
}

#home {
  background: #D6E6F2;
  padding:200px 0px 200px 0px;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  top: 0;
  background: #FFFFFF;
  z-index: 1;
  border-bottom:1px solid #000000;
  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px 30px 0px 30px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: 'comic sans ms';
  color: #0F4C75;
}

h2 {
  font-family: 'comic sans ms';
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #0F4C75;
  width: 100%;
  line-height: 50px;
}

a.tombol1 {
  background: #8D72E1;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
}

a.tombol1:hover {
  background: #E5D9B6;
  text-decoration: none;
}


p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.tengah {
  text-align: center;
  width: 100%;
}


.author {
  width: 100%;
  position: relative;
  display: flex-inline;
  flex-wrap: wrap;
}

.fotoauthor {
  width: 100%;
  margin: 0 auto;
}

.fotoauthor img {
  width: 400px;
  border-radius: 70%;
}


h3 {
  font-family: 'comic sans ms';
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
  .top {
      width: 90%;
  }

  .judul a {
      display: block;
      width: 100%;
      text-align: center;
  }

  nav .menu {
      width: 100%;
      margin: 0;
  }

  nav .menu ul {
      text-align: center;
      margin: auto;
      line-height: 60px;
  }

  nav .menu ul li {
      display: inline-block;
      float: none;
  }

  section {
      display: block;
  }

  section img {
      display: block;
      width: 100%;
      height: auto;
  }

  .fotoauthor {
      width: 50%;
  }
}